[Unit]
Description=log startup/shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/env bash /usr/local/bin/log-startup.sh
ExecStop=/bin/env bash /usr/local/bin/log-shutdown.sh

[Install]
WantedBy=multi-user.target