**/.DS_Store
**/node_modules/
/common/flstudio/flstudio.exe
/common/flstudio/lastver.txt
/common/gnome-extensions/compiz-windows-effect
/common/gnome-extensions/just-perfection
/common/gnome-extensions/unite-shell
/common/gnome-extensions/x11-gestures
/common/heckheating/config/babelCache/
/oses/archlinux/**/pkg
/oses/archlinux/**/src
/oses/archlinux/**/**.pkg.tar.zst
/oses/archlinux/otf-inter-local/inter
/oses/archlinux/ttf-recursive-code-local/recursive-code-config
/oses/archlinux/icon-theme/adwaita-icon-theme
/oses/archlinux/icon-theme/yaru
/oses/archlinux/mutter-performance/mutter
/oses/archlinux/mutter-performance/PKGBUILD
/oses/archlinux/mutter-performance/1441.patch
