.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

**/node_modules

zsh/personal.zsh

.theme_settings.zsh
themer/saved.json
termvar

misc/private
misc/private/*

themer-old/*

vim/bundle/*
zsh/oh-my-zsh
zsh/oh-my-zsh/*
zsh/plugins/*.DS_Store
