**/.DS_Store
**/node_modules/
systems/personal/fonts/**/pkg
systems/personal/fonts/**/src
systems/personal/fonts/**/**.pkg.tar.zst
systems/personal/fonts/**/pkg
systems/personal/fonts/**/src
systems/personal/fonts/**/**.pkg.tar.zst
systems/personal/discord/discord-deps-local/pkg
systems/personal/discord/discord-deps-local/src
systems/personal/discord/discord-deps-local/**.pkg.tar.zst
systems/personal/icon-theme/pkg
systems/personal/icon-theme/src
systems/personal/icon-theme/adwaita-icon-theme
systems/personal/icon-theme/yaru
systems/personal/icon-theme/**.pkg.tar.zst
