modules/discord/hh3/ext/** filter=git-crypt diff=git-crypt
modules/discord/hh3/macos/*.json filter=git-crypt diff=git-crypt
modules/discord/hh3/linux/*.json filter=git-crypt diff=git-crypt
modules/discord/moonlight/macos/*.json filter=git-crypt diff=git-crypt
modules/discord/moonlight/linux/*.json filter=git-crypt diff=git-crypt
modules/mitmproxy/mitmaddon.py filter=git-crypt diff=git-crypt
