html {
  --font-primary: "gg sans", "Noto Sans", sans-serif !important;
  --font-display: "gg sans", "Noto Sans", sans-serif !important;
  --font-headline: "gg sans", "Noto Sans", sans-serif !important;
  /* Discord is silly and doesn't actually use the --font-code variable... FUN!
   * they should really ship their own monospace font */
  --font-code: "Comic Code", "Rec Mono Linear", 'Cascadia Code', 'IBM Plex Mono', monospace !important;
}

/* Fix fonts where they should use --font-code */

[class^="markdown-"] [class^="codeInline-"],
[class^="codeLine-"],
[class^="codeBlockText-"],
[class^="durationTimeDisplay-"],
[class^="durationTimeSeparator-"],
[class*="after_inlineCode-"],
[class*="before_inlineCode-"],
[class^="inlineCode-"],
code.inline,
code,
.hljs {
  font-family: var(--font-code) !important;
}

.hljs,
code.inline,
[class^="markdown-"] code,
[class^="markdown-"] [class^="codeInline-"],
[class^="codeBlockText-"],
[class^="codeLine-"],
[class*="after_inlineCode-"],
[class*="before_inlineCode-"],
[class^="inlineCode-"],
.hljs-ansi-control-sequence {
  font-size: 12px !important;
}

/* Role color adjustmets for visibility
 * In theory this should make all role colors visible on both light and dark mode */
.theme-dark {
  --brightness: 1.35;
  --contrast: 0.5;
  --saturation: 1;
}

.theme-light {
  --brightness: 1;
  --contrast: 0.8;
  --saturation: 1;
}

[class*="desaturateUserColors-"] {
  filter: saturate(var(--saturation)) contrast(var(--contrast)) brightness(var(--brightness)) !important;
}

/* More "cozy" spotify controls */
.hh2-spotify-controls-playback-bar {
  position: relative;
  height: 4px !important;
  border-radius: 2px;
  margin: 0 8px !important;
  background-image: linear-gradient(var(--interactive-active), var(--interactive-active)), linear-gradient(rgba(79,84,92,.16),rgba(79,84,92,.16)) !important;
}

.hh2-spotify-controls-player {
  margin: 8px !important;
}

.hh2-spotify-controls-info-box {
  margin: auto 0em auto 6px !important;
}

.hh2-spotify-controls-album-name {
  height: inherit !important;
}

.hh2-spotify-controls-track-name span,
.hh2-spotify-controls-track-name a,
.hh2-spotify-controls-album-name span,
.hh2-spotify-controls-album-name a {
  font-size: 14px !important;
  line-height: 18px !important;
  width: 100% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hh2-spotify-controls-track-name span:hover,
.hh2-spotify-controls-track-name a:hover,
.hh2-spotify-controls-album-name span:hover,
.hh2-spotify-controls-album-name a:hover {
  text-overflow: none;
  overflow: visible;
}


.hh2-spotify-controls-track-name,
.hh2-spotify-controls-album-name {
  text-overflow: ellipsis !important;
}

.hh2-spotify-controls-track-name,
.hh2-spotify-controls-album-name {
  height: 18px !important;
}

.hh2-spotify-controls-track-name {
  font-weight: 600;
  color: var(--header-primary);
}

.hh2-spotify-controls-album-image img {
  border-radius: 4px !important;
}
