html {
  --font-primary: "Whitney", Whitney, "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  --font-display: "Ginto", Whitney, "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  /* Discord is silly and doesn't actually use the --font-code variable... FUN! */
  --font-code: "Rec Mono Linear", monospace, Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace !important;
}

.theme-dark {
  --brightness: 1.35;
  --contrast: 0.5;
  --saturation: 1;
}

.theme-light {
  --brightness: 1;
  --contrast: 0.8;
  --saturation: 1;
}

[class*="desaturateUserColors-"] {
  filter: saturate(var(--saturation)) contrast(var(--contrast)) brightness(var(--brightness)) !important;
}

code,
[class*="markup-"] pre,
[class*="markup-"] code,
[class*="markup-"] code.inline {
  font-family: "Rec Mono Linear", Consolas, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco,
    Courier New, Courier, monospace !important;
  font-variant: none;
}


.hh2-spotify-controls-playback-bar {
  position: relative;
  height: 4px !important;
  border-radius: 2px;
  margin: 0 8px !important;
  background-image: linear-gradient(var(--interactive-active), var(--interactive-active)), linear-gradient(rgba(79,84,92,.16),rgba(79,84,92,.16)) !important;
}

.hh2-spotify-controls-player {
  margin: 8px !important;
}

.hh2-spotify-controls-info-box {
  margin: auto 0em auto 6px !important;
}

.hh2-spotify-controls-album-name {
  height: inherit !important;
}

.hh2-spotify-controls-track-name span,
.hh2-spotify-controls-track-name a,
.hh2-spotify-controls-album-name span,
.hh2-spotify-controls-album-name a {
  font-size: 14px !important;
  line-height: 18px !important;
  width: 100% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hh2-spotify-controls-track-name span:hover,
.hh2-spotify-controls-track-name a:hover,
.hh2-spotify-controls-album-name span:hover,
.hh2-spotify-controls-album-name a:hover {
  text-overflow: none;
  overflow: visible;
}


.hh2-spotify-controls-track-name,
.hh2-spotify-controls-album-name {
  text-overflow: ellipsis !important;
}

.hh2-spotify-controls-track-name,
.hh2-spotify-controls-album-name {
  height: 18px !important;
}

.hh2-spotify-controls-track-name {
  font-weight: 600;
  color: var(--header-primary);
}

.hh2-spotify-controls-album-image img {
  border-radius: 4px !important;
}
